.wrapper {
  background: #f5f5f5;
}

.header {
  background: white;
  padding: 3rem 0rem;
}

.content-header {
  background-image: url("../../../icons/bg.png");
  background-repeat: no-repeat;
  background-size: 35% 70%;
  width: 100%;
  background-position: right bottom;
}

.companies-content {
  display: flex;
  padding: 20px 20px;
  margin: 20px 20px;
  align-items: center;
  justify-content: center;
  background: white;
}

.btn-search {
  border-radius: 50px;
  background: blue;
  color: white;
  border: 1px solid blue;
  padding: 10px 3rem;
  margin-left: 10px;
}
